.container {
  max-width: 400px;
  margin: 45px auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}
#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 100px;
  padding-top: 50px;
  padding-bottom: 40px;
  font-family: "Nunito Sans", sans-serif;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 50px;
}
.buttons > div {
  border-radius: 50px;
  border-top: 1px;
}
.button {
  line-height: 100px;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  background-color: #16a085;
  font-family: "Nunito Sans", sans-serif;
}
.button:hover {
  background-color: #1abc9c;
}
#equal {
  font-size: 40px;
  font-weight: bold;
  font-family: "Times New Roman";
  background-color: #ff8c00;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}
#equal:hover {
  background-color: #f6b93b;
}
#clear {
  font-size: 40px;
  font-weight: bold;
  background-color: #b33939;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}
#clear:hover {
  background-color: #ff5252;
}
#btn {
  font-size: 40px;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  background-color: #3c6382;
}
#btn:hover {
  background-color: #60a3bc;
}
